.groupPillowPosition {
  visibility: hidden;
  opacity: 0;
  animation: disappear 0.2s ease-out;
  transition: transform 0.4s ease-out;
  transform: translate(-240px, 0) rotate(-45deg);
  &[data-pose="night"] {
    visibility: visible;
    opacity: 1;
    animation: appear 0.4s ease-in-out;
    display: block;
    transform: translate(-118px, 0);
  }
}

@keyframes disappear {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.groupCheek {
  transform: translate(0, 0);
  transition: transform 400ms linear;

  &[data-pose="night"] {
    transform: translate(10px, -22px) scale(1, 1.5);
  }

  &[data-pose="day"] {
    transform: translate(0, 24px) scale(1, 0.4);
  }

  &[data-pose="afternoon"] {
    &[data-side="eye-right"] {
      transform: translate(5px, -10px) scale(1.05, 1.1);
    }
    &[data-side="eye-left"] {
      transform: translate(5px, -10px) scale(1.05, 1.1);
      animation: afternoonLeft 2.6s linear infinite;
    }
  }

  &[data-pose="morning"] {
    transform: translate(0, -5.5px);
    animation: cheekMorning 3.1s linear infinite;
  }
}

@keyframes cheekMorning {
  0% {
    transform: translate(0, -5.5px);
  }
  36% {
    transform: translate(0, -5.5px);
  }
  40% {
    transform: translate(0, 5.5px);
  }
  60% {
    transform: translate(0, -5.5px);
  }
  100% {
    transform: translate(0, -5.5px);
  }
}

@keyframes afternoonLeft {
  0% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(5px, -10px) scale(1.05, 1.1);
  }
  77% {
    transform: translate(5px, -10px) scale(1.05, 1.1);
  }
  81% {
    transform: translate(0, -3px);
  }
  86% {
    transform: translate(0, -3px);
  }
  89% {
    transform: translate(5px, -10px) scale(1.05, 1.1);
  }
  92% {
    transform: translate(5px, -10px) scale(1.05, 1.1);
  }
  96% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.groupBrow {
  transform: translate(0, 0);
  transition: transform 300ms linear;

  &[data-pose="night"] {
    transform: translate(0, 5px);
  }

  &[data-pose="day"] {
    transform: translate(0, -22px) scale(0.9, 0.7);
  }

  &[data-pose="morning"] {
    transform: translate(0, 12.5px) scale(1.1, 1.15);
    animation: browMorning 3.1s linear infinite;
  }
}

@keyframes browMorning {
  0% {
    transform: translate(0, 0);
  }
  36% {
    transform: translate(0, 12.5px) scale(1.1, 1.15);
  }
  40% {
    transform: translate(0, -8px) scale(1, 0.98);
  }
  43% {
    transform: translate(0, -8px) scale(1, 0.98);
  }
  49% {
    transform: translate(0, 5px);
  }
  52% {
    transform: translate(0, -4.5px);
  }
  55% {
    transform: translate(0, 3px);
  }
  58% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.groupPosition {
  transition: transform 400ms linear;

  &[data-pose="night"] {
    transform: translate(0, -30px) rotate(-75deg) scale(0.9, 1);
  }
}

.groupJitter {
  &[data-pose="day"] {
    animation: day 800ms linear infinite;
  }

  &[data-pose="afternoon"] {
    animation: afternoon 800ms linear infinite;
  }

  &[data-pose="night"] {
    animation: night 2.5s linear infinite;
    transform: translate(-118px, 0);
  }

  &[data-pose="morning"] {
    animation: faceMorning 3.1s linear infinite;
  }
}

@keyframes faceMorning {
  0% {
    transform: scale(1);
  }
  36% {
    transform: translate(-10px, 0) rotate(-9deg) skewX(9deg) scale(1, 0.95);
  }
  40% {
    transform: translate(2px, 0) rotate(2deg) skewX(-6deg) scale(1, 0.98);
  }
  45% {
    transform: translate(-2px, 0) rotate(-4deg) skewX(7deg) scale(1, 0.98);
  }
  49% {
    transform: translate(2px, 0) rotate(1deg) skewX(-4deg) scale(1, 0.99);
  }
  53% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes night {
  0% {
    transform: translate(0, 0);
  }
  35% {
    transform: translate(0, -10px);
  }
  42% {
    transform: translate(0, 0px);
  }
  48% {
    transform: translate(0, -3px);
  }
  55% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes day {
  0% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(0, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes afternoon {
  0% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(0, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
