{
  "presets": [
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript",
    "@linaria/babel-preset",
    [
      "@babel/preset-env",
      { "modules": "auto", "targets": { "node": "current" } }
    ]
  ]
}
