node_modules
dist
dist-info
.env
/packages/e2e/playwright-report
/packages/e2e/playwright-screenshots
/packages/location-index-wasm/crates/search-location/target
/packages/location-index-wasm/crates/search-location/pkg