.labelHour {
  position: absolute;

  font-family: monospace;
  font-size: 0.92em;
  text-shadow:
    0 0 2px rgba(0, 0, 0, 1),
    0 0 4px rgba(0, 0, 0, 1);

  right: 6px;
  top: 10px;
}
.labelFooter {
  position: absolute;

  right: 2px;
  bottom: -6px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.labelFlag {
  width: 24px;
  aspect-ratio: 3 / 2;
  border-radius: 2px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.15);
}
.labelCustom {
  max-width: 80px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-family: monospace;
  font-size: 1em;
  text-shadow:
    2px 0 2px rgba(0, 0, 0, 1),
    -2px 0 2px rgba(0, 0, 0, 1),
    0 2px 2px rgba(0, 0, 0, 1),
    0 -2px 2px rgba(0, 0, 0, 1),
    0 0 4px rgba(0, 0, 0, 1);
  position: relative;
  z-index: 1;
}

.container {
  position: absolute;

  left: -30px;
  top: -24px;
  height: 56px;
  width: 104px;

  pointer-events: none;
  transition: opacity 200ms;

  color: #fff;

  & > * {
    animation: appear 200ms ease-out;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
