.cursorContainer {
  background-color: #ddd4;
  height: 32px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}
.shareContainer {
  position: absolute;
  top: 22px;
  left: 28px;
  height: 32px;
  user-select: none;
}

.container {
  overflow: hidden;
  position: relative;
  padding-top: 22px;
  padding-bottom: 0px;
  width: 100%;
  touch-action: pan-y;
}
.caret {
  left: -20px;
  position: absolute;
  width: 40px;
  height: 32px;
  border-radius: 2px;
  background-color: #e88a28;
  pointer-events: none;
  display: inline-block;
}

.nowButton {
  top: 0px;
  position: absolute;
}

.nowCarret {
  width: 16px;
  height: 16px;
  border-radius: 8px 6px 2px 6px;
  left: -8px;
  top: 0px;
  background-color: #ddd;
  position: absolute;
  transform: rotate(45deg);
}

.nowLabel {
  color: #ddd;
  margin-left: 10px;
}
